/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #DFE9F2;
}
body {
  color: #5C6C73;
  /* color: #fff; */
  text-align: center;
  /* text-shadow: 0 1px 3px rgba(0,0,0,.5); */
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /* -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
          /* box-shadow: inset 0 0 100px rgba(0,0,0,.5); */
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
/* .inner {
  padding: 30px;
} */

/*
 * Header
 */
.masthead-brand {
  /* margin-top: 10px; */
  margin-top: 50px;
  /* margin-bottom: 10px; */
  margin-bottom: 70px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    /* float: left; */
    text-align: center;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  /* color: #999; IE8 proofing
  color: rgba(255,255,255,.5); */
  color: #8f8f8f;

}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /* vertical-align: middle; */
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}


/*  */
.dis{
  pointer-events: none;
}

.pointer{
  cursor: pointer;
}

.hide{
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.bgOn{
  background: #DFE9F2;
  transition: background-color linear 0.2s;
}

/*  */
#boxResult div,
.modal-body div{
  margin: 0px;
  padding: 0px;
}

#listTitle{
  background: #fff;
}

#listTitle > div{
  border: 1px solid #5C6C73;
  border-right: 0px;
}

#listTitle > div:last-child{
  border-right: 1px solid #5C6C73;
}

#boxListItem{
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 470px;
}

#boxListItem.isEmpty{
  background: rgba(0,0,0,0.5);
}

#boxListItem.isEmpty::after{
  display: block;
  content: "죄송합니다. 검색결과가 없습니다.";
  color: #DFE9F2;
}

.listItem .homepage > a{
  color: #5C6C73;
}

.listItem .tell{
  transition: background-color linear 0.2s;
}

/*  */
#modalDetail .btnMap,
#modalDetail #btnPrice{
  background: #5C6C73;
}

/* */
.container{
  max-width: none !important;
}

#daumPostCode{
  z-index: 1100;
}

.modal-backdrop:nth-child(3){
  z-index: 1060;
}

#daumPostCode .container-fluid > div{
  left: 50%;
  transform: translateX(-50%);
}

/*  */
@media (min-width: 576px){
  .modal-dialog.modal-lg{
    max-width: none !important;
  }
}

main{padding: 0;}
.disabled::after{
    content: "죄송합니다. 사용할 수 없습니다.";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
